# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
bin/
main
*.exe

# Documentation
README.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Go
vendor/